<div class="modal fade" id="attach{{pool.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Attach node to {{ pool.name }}</h5>
            </div>
            <div class="modal-body">
                Please select one of your available node:
                <form method="POST" action="/pool/{{ pool.id }}/attach/">
                    {{attachForm.csrf_token}}
                    {{ attachForm.nodes }}
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>