<div class="modal fade" id="detach{{pool.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Detach node to {{ pool.name }}</h5>
            </div>
            <div class="modal-body">
                Please select one of your available nodes:
                <form method="POST" action="/pool/{{ pool.id }}/detach/">
                    {{attachForm.csrf_token}}
                    {{ detachForm.nodes }}
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>