{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Pool name</th>
            <th>Nodes in pool</th>
            <th colspan="2" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for pool in pools%}
                <td><a href="/pool/{{ pool.id}}" class="text-blue">{{ pool.name }}</a></td>
                <td> {{ pool.count }}</td>
                <td><a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#attach{{pool.id}}">Attach node</a></td>
                <td><a href="#" class="btn btn-danger pull-left" data-toggle="modal" data-target="#detach{{pool.id}}">detach node</a></td>
                {% include "partials/modal/attach_node.html" %}
                {% include "partials/modal/detach_node.html" %}
            {% endfor %}
       </tr>
    </tbody>
</table>

{% endblock %}