{% extends "base.html" %}

{% block content %}

    <div class="container" style="width: 100%; ">

        <div class="row" style="width: 30%; float: left;">
            <h2>
                Nodes
            </h2>
            {% include "partials/nodes.html" %}

            <h3>
                Download content
            </h3>
            <div>
                <span class="col-sm">
                    Json format:
                </span>
                <div class="col-sm">
                    <a href="/get-file/{{pool_id}}" class="btn btn-primary active">Save</a>
                </div>
            </div>
        </div>


        <div class="row" style="margin-left:10%; width: 60%; float: left;">
            <h2>
                All entries
            </h2>
            {% include "partials/table.html" %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


{% endblock%}
